.generaldivcard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardimg{
    width: 15vw;
    height: 23vw;
}

.cardimgback{
    width: 15vw;
    height: 23vw;
    border-radius: 2vw;
    cursor: pointer;
}

.flip-card {
    background-color: transparent;
    width: 15vw;
    height: 23vw;
    padding-top: 2vh;
    border-radius: 30px;
    perspective: 1000px;
    animation: drop-in 1s ease 200ms backwards;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}



/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);

} */


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
}


.flip-card-front {
    background-color: transparent;
    color: transparent;
    border-radius: 10px;
}

.h1cardname1{
    font-size: 0px;
}

.flip-card-back {
    background-color: white;
    color: transparent;
    transform: rotateY(180deg);
    border-radius: 40px;
}

.addcartbuttondiv{
    width: 17vw;
    display: flex;
    justify-content: space-around;
}

.addcartButton{
    height: 2.5vw;
    cursor: pointer;
}

.card {
    width: 15vw;
    height: 23vw;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    padding-top: 2vh;
    border-radius: 10px;
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card__face--back {
    transform: rotateY( 180deg );
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.scene{
    perspective: 600px;
    width: 15vw;
    height: 23vw;
}

.uppertextcss{
    margin-bottom: -1vh;
    padding-top: 1vh;
}

@media (max-width: 770px) and (orientation: portrait), (hover: none) and (orientation: portrait)  and (max-aspect-ratio:16/9) { 

    .uppertextcss{
        margin-bottom: -1vh;
        padding-top: 1vh;
        height: 7vw;
    }

    .cardimg{
        width: 22vw;
        height: 35vw;
    }
    
    .cardimgback{
        width: 22vw;
        height: 35vw;
        border-radius: 4vw;
    }
    
    .flip-card {
        width: 22vw;
        height: 35vw;
    }
    
    .btnNext{
        width: 50vw;
    }
    
}