.endScreenDiv{
    position: absolute;
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    background-image: url(../Media/PlacaFinalGracias.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.buttonPlayAgain{
    position: absolute;
    width: 17vw;
    height: 6vh;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    top: 70vh;
    background-image: url('../Media/play_again.png');
    background-position: center;
    border-radius: 30px;
    background-size: 130%;
    border-color: transparent;
    cursor: pointer;
    background-color: transparent;
}

.boi{
    position: absolute;
    bottom: 3vw;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
}

@media (max-width: 770px) and (orientation: portrait), (hover: none) and (orientation: portrait)  and (max-aspect-ratio:16/9) { 
    .endScreenDiv{
        background-image: url(../Media/placafinalmovile.jpg);
    }

    .buttonPlayAgain{
        width: 50vw;
        height: 5vh;
        left: 0;
        right: 0;
        margin-left: auto; 
        margin-right: auto; 
        background-size: 140%;
    }

    .boi{
        bottom: 8vw;
    }

}
    