@font-face {
    font-family: OldBook;
    src: url(../Media/Fonts/antique_book_cover.otf);
}

.bottonpagoficialhome{
    position: absolute;
    bottom: 1vh; 
    left: 1vh;
}


.HomeDiv{
    height: 100vh;
    width: 100vw;
    background-image: url(../Media/TableBG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.divtextos{
    width: 100%;
    height: 8vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TitleDiv2{
    position: absolute;
    height: 5.5vw;
    left: 1.5vh;
    top: 0.7vh;
}

.h1hazclickenlacarta{
    width: 25vw;
}

.cardContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 60vh;
    width: 100vw;
    perspective: 600px;
}

.divbuttons{
    display: flex;
    justify-content: space-around;
}

.nextbuttondiv{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.btnNextHome{
    height: 5vh;
    width: 10vw;
    border-radius: 30px;
    border-color: transparent;
    background-image: url(../Media/next_on.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-top: 4vw;
}

@media (max-width: 770px) and (orientation: portrait), (hover: none) and (orientation: portrait) { 
    
    .cardContainer {
        flex-direction: column;
        height: 75vh;
        width: 100vw;
    }

    .nextbuttondiv{
        height: 18vw;
        display: flex;
        margin-top: 0;
        align-items: center;
        justify-content: center;
    }

    .divtextos{
        height: 25vw;
        align-items: flex-end;
    }

    .bottonpagoficialhome{
        position: absolute;
        bottom:  1.5vw; 
        left: 1.5vw;
    }

    .btnNextHome{
        width: 30vw;
        background-size: 35vh;
    }

    .HomeDiv{
        height: 100vh;
    }

    .h1hazclickenlacarta{
        width: 55vw;
        padding-bottom: 2vw;
    }

    .TitleDiv2{
        height: 15vw;
    }

}

