body.active-modal{
    overflow-y: hidden;
}

.imgsignoexclamacionmodal{
    position: absolute;
    right: 2vh;
    bottom: 2vh;
    height: 7vh;
    cursor: pointer;
}

.imgiconoinstrucciones{
    width: 15vh;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed
}

.overlay{
    background: rgba(49, 49, 49, 0.5);
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../Media/fondo_instrucciones.png');
    background-position: center;
    background-size: cover;
    width: 60vw;
    height: 60vh;
    border-radius: 30px;
    border-color: transparent;
}

.closemodal{
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 2vw;
    right: 2vw;
    background-color: transparent;
    color: white;
    font-size: 5vh;
    border-color: transparent;
    cursor: pointer;
    background-image: url(../Media/cross.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.divinstruccionmodal1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: GhotamRoundedLight;
}

.divinstruccionmodal2{
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: GhotamRoundedLight;
}

.divinstruccionmodal3{
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: GhotamRoundedLight;
}

.divarrowsmodal{
    width: 160px;
    display: flex;
    justify-content: space-around;
}

.imgleftarrow {
    background-image: url('../Media/boton_izq_ON.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: transparent;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
}

.imgrightarrow{
    background-image: url('../Media/boton_der_ON.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: transparent;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
}

.imgrightarrow:disabled{
    background-image: url('../Media/boton_der_OFF.png');
}

.imgleftarrow:disabled {
    background-image: url('../Media/boton_izq_OFF.png');
}

@media (max-width: 770px) and (orientation: portrait), (hover: none) and (orientation: portrait) { 

    .imgrightarrow{
        width: 10vw;
        height: 10vw;
    }

    .divarrowsmodal{
        width: 30vw;
    }

    .imgleftarrow{
        width: 10vw;
        height: 10vw;
    }

    .imgiconoinstrucciones{
        width: 22vw;
    }

    .modal-content{
        width: 60vw;
        height: 100vw;   
    }

    .closemodal{
        height: 5vw;
        width: 5vw;
    }

    .divinstruccionmodal1 h3{
        font-size: 2.7vw;
    }
    
    .divinstruccionmodal2 h3{
        font-size: 2.7vw;
    }
    
    .divinstruccionmodal3 h3{
        font-size: 2.7vw;
    }

    .imgsignoexclamacionmodal{
        position: absolute;
        right: 1.5vw;
        bottom: 1.5vw;
        height: 5vh;
        cursor: pointer;
    }
}
